@import url("https://fonts.googleapis.com/css2?family=Lexend+Mega&display=swap");

body {
  color: #333333;
  background-color: #fff;
  font-family: "Lexend Mega", sans-serif;
  max-width: 600px;
  margin: auto;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.main-content {
  flex-grow: 1;
  text-align: center;
  margin: auto;
}
.icon {
  width: 35px;
  color: #888888;
}
.box {
  margin-top: 50px;
  background-color: rgb(197, 223, 214);
  border: 7px solid #333333;
  width: 400px;
  height: 600px;
  border-radius: 30px;
  padding: 25px;
}
footer {
  color: #333333;
  border-top: 1px solid #eeeeee;
  margin-top: 16px;
  padding: 16px 0;
}
header {
  margin-top: 16px;
  margin-bottom: 40px;
}
header a {
  color: #888888;
  margin-right: 16px;
  text-decoration: none;
}
h1 {
  font-size: 64px;
  margin-bottom: 20px;
}
.portrait {
  width: 250px;
}
input,
button {
  font-family: "Lexend Mega", sans-serif;
  border: 1px solid #cccccc;
  border-radius: 20px;
  padding: 12px;
  margin-top: 14px;
  outline: none;
  margin-bottom: 10px;
}
button {
  cursor: pointer;
  background: #888888;
  color: white;
}
#message-1 {
  margin: auto;
  font-size: 25px;
}
#message-2 {
  margin: auto;
  width: 100%;
  padding: 5px;
  margin-top: 12px;
  font-size: 40px;
}
@media only screen and (max-width: 600px) {
  .box {
  }
}
